{% extends 'layout.twig' %}

{% block body %}
  <h1>CasterTool</h1>
  <p>Welcome to CasterTool</p>

  <ul>
  <li><a href="/game/dashboard">Show specator widgets</a></li>
  <li><a href="/game/tmwt">Show TMWT spectator widgets</a></li>
  <li><a href="/game/top1">Show Current map top 1 time</a></li>
  <li><a href="/game/top10">Show Current map top 10 leaderboards</a></li>
  </ul>

{% endblock %}
