@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

body {
  padding: 50px;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.container {
  max-width: 960px;
}

a {
  color: #00b7ff;
}
