@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

body {
  padding: 50px;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.container {
  max-width: 960px;
}

a {
  color: #00b7ff;
}

.textshadow {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000 !important;
}

.card {
  max-width: 400px;
  border: 2px solid #fff;
  object-fit: cover;
}

.card img {
  aspect-ratio: 2/1;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: top;
  -o-object-position: top;
}

.card {
  background: rgba(0,0,0,0.5);
}